@import 'tailwindcss';

/* Clerk elements */
.cl-internal-1dauvpw {
    display: none;
}

.cl-internal-1hp5nqm {
    display: none;
}

@media (max-width: 768px) {
    .cl-avatarBox {
        display: flex;
        width: 2rem;
        height: 2rem;
    }

    .cl-userButtonPopoverCard {
        display: flex;
        padding: 0 1rem 0 1rem;
        width: 100%;
    }

    .cl-internal-1grbo8b {
        max-width: 100%;
    }
}

.quiz-creation {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),
        url('/images/quiz/background/aespa-quiz-create-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.quiz-dashboard {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),
        url('/images/quiz/background/aespa-dashboard-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.quiz-game {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.quiz-complete {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('/images/quiz/background/aespa-complete-bg.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.quiz-bg-1 {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('/images/quiz/background/aespa-bg-1.jpg');
}

.quiz-bg-2 {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('/images/quiz/background/aespa-bg-2.jpg');
}

.quiz-bg-3 {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('/images/quiz/background/aespa-bg-3.jpg');
}

.quiz-bg-4 {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('/images/quiz/background/aespa-bg-4.jpg');
}

/* Dotted background */
.dotted {
    background-image: radial-gradient(#ffffff25 2px, transparent 2px);
    background-size: 15px 15px;
    background-color: rgba(255, 255, 255, 0);
}
